{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="msapplication-tap-highlight" content="no">
      <meta name="description" content="">
      <title>CoinBank</title>
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"   />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

      <script defer src="{% static 'js/script.js' %}"></script>



      <link rel="stylesheet" href="{% static 'css/style.css' %}">





      <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">


      <link rel="stylesheet" href="{% static 'css/style.css' %}">

      <link rel="stylesheet" href="{% static 'css/jqvmap.css.css' %}">




      
     <!-- Materialize-->

     
     <link rel="stylesheet" href="{% static 'css/admin-materialize.min.css' %}">

      <!-- Material Icons-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <body>

    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
        </div>
      </nav>
    </header>
    <main class="container">
        {% block content %} 
        {% endblock %}
    </main>
    
    <footer class="page-footer">

      <div class="container">
        <div class="row">
          
            <h5>Useful Links</h5>
            <ul>
              <li><a href="https://trello.com/invite/accept-board">Trello</a></li>
              <li><a href="https://docs.google.com/presentation/d/1xKGFOaHRCUb5qFIfaoh62O9vhbbdgheGQp9qr9SwmCQ/edit#slide=id.p">Pitch Deck</a></li>
    
              <li><a href="https://coinmarketcap.com/api/documentation/v1">API by CoinMarketCap</a></li>
              <li><a href="https://github.com/jmolasky/coin_bank">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer><!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/moment.min.js"></script>
    
    <!-- External libraries -->
    
    <!-- jqvmap -->

    <script src="{% static 'js/materialize.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jqvmap/jquery.vmap.world.js' %}"></script>

    
    <!-- ChartJS -->

    <script type="text/javascript" src="{% static 'js/Chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.Financials.js' %}"></script>

    <script src="{% static 'js/masonry.pkgd.min.js' %}"></script>

    
    
    <!-- Initialization script -->


    <script src="{% static 'js/admin.js' %}"></script>
    <script src="{% static 'js/page-scripts/dashboard.js' %}"></script>
    <script src="{% static 'js/init.js' %}"></script>

      </body>
    </html>


